<div class="auth-content">
  <h1 class="auth-header">
    <fa-icon [icon]="logo"></fa-icon>
    Побывалка
  </h1>
  <h3 class="auth-title">
    Регистрация
  </h3>

  <form class="form" [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="form-control">
      <label for="email" class="form-label">Электронная почта</label>
      <input type="email" class="form-input" id="email" formControlName="email"
             placeholder="name@domain.ru"
             [ngClass]="{'form-input_warning': form.controls['email'].invalid &&
                                form.controls['email'].touched}">
      <div class="form-warning" *ngIf="form.controls['email'].invalid &&
                                form.controls['email'].touched">
        Нужно указать корректный адрес электронной почты
      </div>
    </div>

    <div class="form-control">
      <div class="form-label_container">
        <label for="password" class="form-label">Пароль</label>
      </div>
      <input type="password" class="form-input" id="password"
             formControlName="password"
             [ngClass]="{'form-input_warning': form.controls['password'].invalid &&
                                form.controls['password'].touched}">
      <div class="form-warning" *ngIf="form.controls['password'].invalid &&
                                form.controls['password'].touched">
        Пароль не может быть короче 6 символов
      </div>
    </div>

    <div class="form-control">
      <div class="form-label_container">
        <label for="password_confirmation" class="form-label">Подтвердите пароль</label>
      </div>
      <input type="password" class="form-input" id="password_confirmation"
             formControlName="password_confirmation"
             [ngClass]="{'form-input_warning': form.controls['password_confirmation'].invalid &&
                                form.controls['password_confirmation'].touched}">
      <div class="form-warning" *ngIf="form.errors?.['passwordsNotMatched'] &&
                                        form.controls['password_confirmation'].touched">
        Пароли не совпадают
      </div>
    </div>

    <button type="submit" class="form-submit" [disabled]="form.invalid">
      Зарегистрироваться
    </button>
  </form>

  <p class="auth-text">
    Уже есть аккаунт?
    <a class="form-label_link" [routerLink]="[AUTH_URL, LOGIN]">
      Войдите
    </a>
  </p>
  <div class="auth-spinner_container" >
    <fa-icon [icon]="logo" [pulse]="true" size="2x" class="auth-spinner"
             *ngIf="spinnerShow"></fa-icon>
  </div>
</div>
