<div class="auth-content">
  <app-auth-header></app-auth-header>
  <h3 class="auth-title">
    Восстановление пароля
  </h3>

  <form class="form" [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="form-control">
      <label for="email" class="form-label">Электронная почта</label>
      <input type="email" class="form-input" id="email" formControlName="email"
             placeholder="name@domain.ru"
             [ngClass]="{'form-input_warning': form.controls['email'].invalid &&
                                form.controls['email'].touched}">
      <div class="form-warning" *ngIf="form.controls['email'].invalid &&
                                form.controls['email'].touched">
        Нужно указать корректный адрес электронной почты
      </div>
    </div>

    <button type="submit" class="form-submit" [disabled]="form.invalid">
      Восстановить пароль
    </button>
  </form>
  <p class="auth-text">
    Помните пароль?
    <a class="form-label_link" [routerLink]="[AUTH_URL, LOGIN]">
      Войдите
    </a>
  </p>
  <div class="auth-spinner_container" >
    <fa-icon [icon]="logo" [pulse]="true" size="2x" class="auth-spinner"
             *ngIf="spinnerShow"></fa-icon>
  </div>
</div>
